.box-one {
    background-color: green;
    width: 100%;
}
.box-two {
    border: 4px dotted black;
    width: 96%;
    margin: auto;
}
.para-one {
    color: red;
    font-size: 20px;
}
.para-two {
    color: darkgreen;
    font-size: 20px;
}
.para-three {
    color: purple;
    font-size: 20px;
    margin-bottom: 0;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
}